<!DOCTYPE html>
<html lang="en-US">
{% include './includes/head.twig' %}
<body class="bg-beige font-sans text-dark">
  {% include './includes/header.twig' %}

  <main>
    <div class="container mx-auto">

      <!-- Hero -->
      <div class="w-full pt-16 pb-32">
        <div class="w-full md:w-3/4">
          <h1 class="font-serif font-bold text-4xl leading-snug mb-4">The ultimate resource for creating data visualisations</h1>
          <p class="text-lg leading-normal md:pr-32">Learn how to build interactive data visualisations with Vue.js and D3.js. Get started today an level up!</p>
          <div class="flex mt-8">
            <a href="https://twitter.com/madebycrevans" target="_blank" class="bg-twitter shadow-twitter rounded text-white-100 font-bold flex items-center p-5">
              {% include './includes/twitter.twig' %}
              <span class="ml-2">@MadeByCrevans</span>
            </a>
            <a href="https://github.com/crevans02" target="_blank" class="bg-github shadow-github rounded text-white-100 font-bold flex items-center p-5 ml-6">
              {% include './includes/github.twig' %}
              <span class="ml-2">MadeByCrevans</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Hero End -->

      <!-- Articles -->
      {% for entry in craft.entries().section('blog').all() %}
      <a href="{{ entry.url() }}" class="bg-white-100 shadow w-full rounded-lg flex flex-col md:flex-row md:items-center p-5 mb-10">
        <div class="rounded w-full md:w-64 h-64 bg-beige flex-shrink-0 md:mb-0 overflow-hidden">
          <img src="https://placehold.it/512x512">
        </div>
        <div class="md:ml-10 w-full py-5">
          <div class="flex flex-col pr-5 md:pr-8">
            <h2 class="font-serif font-bold text-2xl leading-snug mb-4">{{ entry.title }}</h2>
            <p class="text-base leading-normal">{{ entry.summary }}</p>
            <div class="flex">
              <div class="bg-primary shadow-primary rounded font-medium flex items-center mt-8 p-4">
                <span class="mr-16 opacity-50">Read</span>
                {% include './includes/arrow.twig' %}
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
      <a href="/" class="bg-white-100 shadow w-full rounded-lg flex flex-col md:flex-row md:items-center p-5 mb-10">
        <div class="rounded w-full md:w-64 h-64 bg-beige flex-shrink-0 md:mb-0 overflow-hidden">
          <img src="https://placehold.it/512x512">
        </div>
        <div class="md:ml-10 w-full py-5">
          <div class="flex flex-col pr-5 md:pr-8">
            <h2 class="font-serif font-bold text-2xl leading-snug mb-4">Day 1 - #100DaysOfDataVis</h2>
            <p class="text-base leading-normal">GDPR extends the definition of personal data to include digital identifiers such as IP addresses. Identifiers in telematics systems that correlate data and drivers, including information on location, speed or driving events, may.</p>
            <div class="flex">
              <div class="bg-primary shadow-primary rounded font-medium flex items-center mt-8 p-4">
                <span class="mr-16 opacity-50">Read</span>
                {% include './includes/arrow.twig' %}
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/" class="bg-white-100 shadow w-full rounded-lg flex flex-col md:flex-row md:items-center p-5 mb-10">
        <div class="rounded w-full md:w-64 h-64 bg-beige flex-shrink-0 md:mb-0 overflow-hidden">
          <img src="https://placehold.it/512x512">
        </div>
        <div class="md:ml-10 w-full py-5">
          <div class="flex flex-col pr-5 md:pr-8">
            <h2 class="font-serif font-bold text-2xl leading-snug mb-4">Day 1 - #100DaysOfDataVis</h2>
            <p class="text-base leading-normal">GDPR extends the definition of personal data to include digital identifiers such as IP addresses. Identifiers in telematics systems that correlate data and drivers, including information on location.</p>
            <div class="flex">
              <div class="bg-primary shadow-primary rounded font-medium flex items-center mt-8 p-4">
                <span class="mr-16 opacity-50">Read</span>
                {% include './includes/arrow.twig' %}
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Articles End -->

    </div>
  </main>

  {% include './includes/footer.twig' %}
</body>
</html>
