<!DOCTYPE html>
<html lang="en-US">
{% include './includes/head.twig' %}
<body class="bg-beige font-sans text-dark">
  {% include './includes/header.twig' %}

  <main>
    <div class="container mx-auto">

      <!-- Hero -->
      <div class="w-full md:pt-16 pb-16 md:pb-32">
        <div class="w-full md:w-3/4">
          <h1 class="font-serif font-bold text-3xl md:text-4xl leading-snug mb-4">100 Days of Data Visualisation</h1>
          <p class="text-lg leading-normal md:pr-32">Follow my journey as I learn how to create beautiful, interactive data visualisations with D3.js and Vue.js.</p>
          <div class="flex mt-8">
            <a href="https://twitter.com/madebycrevans" target="_blank" class="bg-twitter shadow-twitter rounded text-white-100 font-bold flex items-center p-5">
              {% include './includes/twitter.twig' %}
              <span class="ml-2">@MadeByCrevans</span>
            </a>
            {#<a href="https://github.com/crevans02" target="_blank" class="bg-github shadow-github rounded text-white-100 font-bold flex items-center p-5 ml-6">#}
              {#{% include './includes/github.twig' %}#}
              {#<span class="ml-2 hidden md:inline">MadeByCrevans</span>#}
            {#</a>#}
          </div>
        </div>
      </div>
      <!-- Hero End -->

      <!-- Articles -->
      {% for entry in craft.entries().section('blog').all() %}
      <a href="{{ entry.url() }}" class="bg-white-100 shadow w-full rounded-lg flex flex-col md:flex-row md:items-center p-5 mb-10">
        <div class="rounded w-full md:w-64 md:h-64 bg-beige flex-shrink-0 md:mb-0 overflow-hidden">
          <img src="{{ entry.heroImage.first().getUrl('blogThumbnail') }}">
        </div>
        <div class="md:ml-10 w-full py-5">
          <div class="flex flex-col pr-5 md:pr-8">
            <h2 class="font-serif font-bold text-2xl leading-snug mb-4">{{ entry.title }}</h2>
            <p class="text-base leading-normal">{{ entry.summary }}</p>
            <div class="flex">
              <div class="bg-primary shadow-primary rounded font-medium flex items-center mt-8 p-4">
                <span class="mr-16 opacity-50">Read</span>
                {% include './includes/arrow.twig' %}
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
      <!-- Articles End -->

    </div>
  </main>

  {% include './includes/footer.twig' %}
</body>
</html>
